// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: $white;
    color: $dark;
    font-family: 'Rubik';
    font-size: 1em;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

::selection {
    background: #f7d325;
    color: #333;
    text-shadow: none;
}

.gang-menu-item {
    transition: all .5s;
}
.gang-menu-item:hover {
    // padding-right: 1.75rem;
    background-color: $gray-200;
}

.gang-menu-heading {
    transition: all .5s;
}
.gang-menu-heading:hover {
    padding-left: 1.75rem;
}
